a {
    text-decoration: none;
}

.link {
    text-decoration: underline;
}

.bullet-list,
.bullet-list li {
    list-style-type: disc;
}

img {
    max-width: 100%;
}

.grecaptcha-badge {
    display: none !important;
}

.pubkey {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 640px) {
        max-width: 70vw;
    }
}
