.popup-message {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    animation: messageFadeUp 0.3s forwards;
    z-index: 3;
}

.popup-message--error {

}

.popup-message--success {

}

.popup-message--notification {

}

.popup-message__text {
    font-weight: 600;
}

@keyframes messageFadeUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.alert-dismissible .btn-close {
    background-size: 30%;
}
